.search-wrapper {
  display: inline-flex;
  align-items: center;
  width: 100%;

  .search-input {
    width: 100%;
    padding-right: 2.5rem;
  }

  .search-clear {
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color-secondary);
  }
}
